<th:block th:fragment="header" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a th:href="@{/}"><img class="logo" src="/public/images/logo1.png" alt="" width="119" height="58"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a th:href="@{/}"></a>
                        </li>
                        <li>
                            <a th:href="@{/}" class="btn btn-default">
                                Home
                            </a>
                        </li>

                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                Genres <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li th:each="genre : ${genreList}">
                                    <a th:href="@{/movies/{genre}(genre=${genre.name})}" th:text="${genre.name}"></a>
                                </li>
                            </ul>
                        </li>
                        <li th:each="category : ${categoryMovieList}">
                            <a th:href="@{/movies}" class="btn btn-default" th:text="${category.name}"></a>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul id="jobList" class="dropdown-menu level1">
                                <li th:each="job : ${jobList}">
                                    <a th:text="${job.name}" th:href="@{/jobs/{id}(id=${job.id})}"></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a th:href="@{/news}" class="btn btn-default">
                                News
                            </a>
                        </li>
<!--                        <li class="dropdown first">-->
<!--                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">-->
<!--                                community <i class="fa fa-angle-down" aria-hidden="true"></i>-->
<!--                            </a>-->
<!--                            <ul class="dropdown-menu level1">-->
<!--                                <li><a th:href="@{/}">user favorite grid</a></li>-->
<!--                                <li><a th:href="@{/}">user profile</a></li>-->
<!--                                <li class="it-last"><a th:href="@{/}">user rate</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
                    </ul>

                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li sec:authorize="hasRole('ROLE_ADMIN')" style="display: flex">
                            <img th:src="@{/admin/images/logo-sm.png}" alt="Logo Admin" style="width: 18%; height: 75%;margin-top: 8px"/>
                            <a th:href="@{/admin}">Admin</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav flex-child-menu menu-right">
                        <li  th:if="${#authorization.expression('isAuthenticated()')}" class="dropdown first" style="margin-top: 2px">
<!--                                sec:authorize="isAuthenticated()"-->


                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                <span><img class="img-thumbnail" style="margin-right: 10px; margin-bottom: 3px; width: 40px; height: 40px" th:src="${avatar}" alt="" /></span>
                                <span style="padding-top: 2px"   th:text="${#authentication.name}" ></span>
<!--                                th:text="${username}"-->
                            </a>
                            <ul class="dropdown-menu level1"  sec:authorize="isAuthenticated()">
<!--                                <li><a th:if="${level == 0}" th:href="@{/buyaccount}">Buy Account</a></li>-->
                                <li><a th:if="${#authentication.principal.level == 0}" th:href="@{/buyaccount}">Buy Account</a></li>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li class="it-last"><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a th:href="@{/login}" class="btn btn-default">LOG IN</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="btn">
                            <a th:href="@{/register}">SIGN UP</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- top search form -->
            <div class="top-search">
                <input type="text" placeholder="Search for a movie or celebrity that you are looking for">
            </div>
        </div>
    </header>
</th:block>