<th:block th:fragment="header" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a th:href="@{/}"><img class="logo" src="/public/images/logo1.png" alt="" width="119" height="58"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a th:href="@{/}"></a>
                        </li>
                        <li>
                            <a th:href="@{/}" class="btn btn-default">
                                Home
                            </a>
                        </li>

                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                Genres <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li th:each="genre : ${genreList}" th:if="${!#lists.isEmpty(genreList)}">
                                    <a th:href="'/movie/genre/' + ${genre.id}" class="btn btn-default" th:text="${genre.name}"></a>
                                </li>

                                <li th:if="${#lists.isEmpty(genreList)}">
                                    <span>No data</span>
                                </li>
                            </ul>
                        </li>
                        <li th:each="category : ${categoryMovieList}" th:if="${categoryMovieList.size > 0}">
                            <a th:href="'/movie/category/' + ${category.id}" class="btn btn-default" th:text="${category.name}"></a>
                        </li>
                        <li th:if="${categoryMovieList.size == 0}">
                            <span class="btn btn-default">Not Data</span>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul id="jobList" class="dropdown-menu level1">
                                <li>
                                    <a th:href="'/casting/get/'">Actors</a>
                                </li>
                                <li>
                                    <a th:href="'/director/get/'">Director</a>
                                </li>
                                <li>
                                    <a th:href="'/writer/get/'">Writer</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li sec:authorize="hasRole('ROLE_ADMIN')" style="display: flex">
                            <img th:src="@{/admin/images/logo-sm.png}" alt="Logo Admin" style="width: 18%; height: 75%;margin-top: 8px"/>
                            <a th:href="@{/admin}">Admin</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav flex-child-menu menu-right">
                        <li  th:if="${#authorization.expression('isAuthenticated()')}"  class="dropdown first" style="margin-top: 2px">
<!--                                sec:authorize="isAuthenticated()"-->


                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown" th:switch="${#authentication.principal.class.simpleName}"  >
                                <span th:case="'CustomUserDetails'">
                                    <img class="img-thumbnail" style="margin-right: 10px; margin-bottom: 3px; width: 40px; height: 40px" th:src="${avatar}" alt="" /></span>
                                <span th:text="${username}"></span>
                                </span>
                                <span th:case="'CustomOAuth2User'">
<!--                                    <img class="img-thumbnail" style="margin-right: 10px; margin-bottom: 3px; width: 40px; height: 40px" th:src="${#authentication.principal.attributes.picture}" alt="" />-->
                                    <span th:if="${#authentication.principal.attributes.containsKey('picture')}">
        <img class="img-thumbnail" style="margin-right: 10px; margin-bottom: 3px; width: 40px; height: 40px" th:src="${#authentication.principal.attributes.picture}" alt="" />

      </span>
      <span th:if="${#authentication.principal.attributes.containsKey('avatar_url')}">
        <img class="img-thumbnail" style="margin-right: 10px; margin-bottom: 3px; width: 40px; height: 40px" th:src="${#authentication.principal.attributes.avatar_url}" alt="" />

      </span>
        <span th:text="${#authentication.name}"></span>
    </span>

                            </a>
                            <ul class="dropdown-menu level1"  sec:authorize="isAuthenticated()">
<!--                                <li><a th:if="${level == 0}" th:href="@{/buyaccount}">Buy Account</a></li>-->
                                <li><a th:if="${#authentication.principal.level == 0}" th:href="@{/buyaccount3}">Buy Account</a></li>
                                <li><a th:if="${#authentication.principal.level == 1}" th:href="@{/buyaccount3}">Upgrade Account</a></li>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li class="it-last"><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a th:href="@{/login}" class="btn btn-default">LOG IN</a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="btn">
                            <a th:href="@{/register}">SIGN UP</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- top search form -->
            <div class="top-search">
                <input type="text" placeholder="Search for a movie or celebrity that you are looking for" id="searchInput">
            </div>
            <div id="searchResults">
                <ul class="resultMovie">

                </ul>
            </div>
        </div>
    </header>
</th:block>