<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/public/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #main-content},
                                                ~{:: #js-resources}
                                               )}">
<head>
    <!-- Basic need -->
    <title>Block Buster | Actors</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <th:block id="css-resources">
        <style>
            span.error {
                display: block;
                margin-top: 8px;
                font-size: 14px;
                font-weight: 500;
                color: red;
            }
        </style>
    </th:block>
</head>
<body>

<main id="main-content">
    <div class="hero user-hero">
        <div class="container">
            <div id="alertError" style="position: fixed; top: 80px; right: -90px;transform: translateX(-50%); z-index: 9999;"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span>Favourites</li>
                            <li> <span style="display: none" class="idAccount" th:text="${idUser}"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="user-information">
                        <div class="user-img">
                            <a href="#" id="uploadPreviewPoster">
                                <img  th:src="${avatar}"  style="height: 120px; width: 120px; object-fit: cover; overflow: hidden" alt=""><br>
                            </a>
                            <input style="width: 200px; margin: 0 auto" type="file" class="redbtn" id="file-poster">Change avatar</input>
                        </div>
                        <div class="user-fav">
                            <p>Account Details</p>
                            <ul>
                                <li><a th:href="@{/profile}">Profile</a></li>
                                <li class="active"><a th:href="'/user/favourite/' + ${idUser}">Favorite movies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="flex-wrap-movielist">
                        <div class="movie-item-style-2 movie-item-style-1" th:each="favourite:${getFavourites}">
                            <img th:src="${favourite.movies.poster}" alt="">
                            <div class="hvr-inner">
                                <a  th:href="'/movie/get/' + ${favourite.movies.id}"> Watch <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="mv-item-eth">
                                <h6>
                                    <a th:if="${account_id != null and #lists.contains(favoriteMovieIds, favourite.movies.id)}"
                                       type="button"
                                       class="btn btn-warning waves-effect waves-light favorite-icon"
                                       th:attr="data-movie-id=${favourite.movies.id}">
                                        <i class="ion-android-favorite"></i>
                                    </a>
                                    <a th:if="${account_id != null and not #lists.contains(favoriteMovieIds, favourite.movies.id)}"
                                       type="button"
                                       class="btn btn-warning waves-effect waves-light favorite-icon"
                                       th:attr="data-movie-id=${favourite.movies.id}">
                                        <i class="ion-android-favorite-outline"></i>
                                    </a>
                                    <a th:if="${account_id == null}"
                                       type="button"
                                       class="btn btn-warning waves-effect waves-light favorite-icon heart-error">
                                        <i class="ion-android-favorite-outline"></i>
                                    </a>
                                </h6>
                            </div>
                            <div class="mv-item-infor">
                                <h6><a href="#" th:text="${favourite.movies.name}"></a></h6>
                                <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script>
        $(document).ready(function() {
            //1.Function to get account by id and populate the form fields
            $.ajax({
                type: 'GET',
                url: '/profile/accountId',
                success: function(response) {
                    var accountId = response;
                    $.ajax({
                        type: 'GET',
                        url: 'v1/auth/accounts/' + accountId,
                        success: function(account) {
                            $('#account_id').val(account.id);
                            $('#username').val(account.userName);
                            $('#email').val(account.email);
                            $('#address').val(account.address);
                            let genderValue = account.gender ? 1 : 0;
                            $('#gender').val(genderValue);
                            $('#level').text(account.level);
                        },
                        error: function(err) {
                            console.error('An error occurred while fetching account details: ' + err.responseText);
                        }
                    })
                }
            });

            $('#file-poster').change(function () {
                var file = this.files[0];
                var formData = new FormData();
                formData.append('file', file);

                $.ajax({
                    url: '/v1/files/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        var posterURL = response;
                        console.log("Image uploaded successfully! Response URL: " + posterURL);
                        $('#uploadPreviewPoster img').attr('src', posterURL); // Cập nhật ảnh đại diện với URL mới

                        let accountId = $('.idAccount').text();
                        var formDataForUpdate = {
                            id: accountId,
                            avatar: posterURL,
                        };
                        $.ajax({
                            url: "/v1/auth/update/avatar",
                            type: 'PUT',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(formDataForUpdate),
                            success: function (result) {
                                // Cập nhật giao diện người dùng mà không cần phải làm mới trang
                                $('#uploadPreviewPoster img').attr('src', posterURL);
                            },
                            error: function (error) {
                                console.log(error);
                                var errorHtml = '<div class="float-end alert alert-danger alert-dismissible fade show" role="alert">\n' +
                                    '    An error occurred!\n' +
                                    '    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                                    '</div>';
                                $("#alertError").html(errorHtml);
                                setTimeout(function() {
                                    $("#alertError").empty();
                                }, 2000);
                            }
                        });
                    },
                    error: function (error) {
                        console.error("Upload failed: " + error);
                    }
                });
            });

            $('.favorite-icon').click(function (e){
                e.preventDefault();
                debugger;
                let movieId = $(this).data('movie-id');
                let accountId = $('.idAccount').text();
                var formData = {
                    movies: movieId,
                    account: accountId,
                };
                $.ajax({
                    url: "/v1/favouritesMovies/add",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(formData),
                    success: function (result) {
                        var $this = $('.favorite-icon[data-movie-id="' + movieId + '"]');
                        $this.toggleClass('btn-warning btn-danger');
                        $this.find('i').toggleClass('ion-android-favorite ion-android-favorite-outline');
                        // Hiển thị hiệu ứng tim
                        $this.append('<span class="heart-effect"><i class="fa fa-heart"></i></span>');
                        setTimeout(function() {
                            $this.find('.heart-effect').remove();
                        }, 1000);
                        location.reload();

                    },
                    error: function (error) {
                        console.log(error);
                        var errorHtml = '<div class="float-end alert alert-danger alert-dismissible fade show" role="alert">\n' +
                            '                                            An error occurred !\n' +
                            '                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                            '                                        </div>';
                        $("#alertError").html(errorHtml);
                        setTimeout(function () {
                            $("#alertError").empty();
                        }, 2000);
                    }
                })
            })

        });
    </script>
</th:block>
</body>
</html>










