/*============================
		Theme Color Red
==============================*/

:root,
[data-bs-theme="light"] {
    --bs-themecolor: #dc3545;
    --bs-themecolor-rgb: 220, 53, 69;
    --bs-themehovercolor: #c62232;
    --bs-themehovercolor-rgb: 197.90886, 34.29114, 49.96709;
    --bs-link-color: var(--bs-themecolor);
    --bs-link-color-rgb: var(--bs-themecolor-rgb);
    --bs-link-hover-color: var(--bs-themehovercolor);
    --bs-link-hover-color-rgb: var(--bs-themehovercolor-rgb);
    --bs-primary: var(--bs-themecolor);
    --bs-primary-rgb: var(--bs-themecolor-rgb);
    --bs-primary-text-emphasis: #58151c;
    --bs-primary-bg-subtle: #f8d7da;
    --bs-primary-border-subtle: #f1aeb5;
    --bs-body-color: #4c4d4d;
    --bs-body-color-rgb: 76, 77, 77;
    --bs-heading-color: var(--bs-emphasis-color);
    --bs-body-font-family: Poppins, sans-serif;
}

[data-bs-theme="dark"] {
    color-scheme: dark;
    --bs-link-color: var(--bs-themecolor);
    --bs-link-color-rgb: var(--bs-themecolor-rgb);
    --bs-link-hover-color: var(--bs-themehovercolor);
    --bs-link-hover-color-rgb: var(--bs-themehovercolor-rgb);
    --bs-heading-color: var(--bs-emphasis-color);
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
}