<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{/public/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #main-content},
                                                ~{:: #js-resources}
                                               )}">
<head>
    <!-- Basic need -->
    <title>Block Buster</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <th:block id="css-resources"></th:block>
</head>
<body>
<main id="main-content">
    <span style="display: none" class="idAccount" th:text="${account_id}"></span>
    <div class="slider movie-items">
        <div class="container">
            <div class="row">
                <div class="social-link">
                    <p>Follow us: </p>
                    <a href="#" onclick="shareFacebookPage(); return false;"><i class="ion-social-facebook"></i></a>
                    <a href="#" onclick="shareToTwitter(); return false;"><i class="ion-social-twitter"></i></a>
                    <a href="#" onclick="shareToGooglePlus(); return false;"><i class="ion-social-googleplus"></i></a>
                    <a href="#" onclick="shareToYouTube(); return false;"><i class="ion-social-youtube"></i></a>

                </div>
                <div class="slick-multiItemSlider">
                    <div th:each="movie : ${getMovieSlide}" style="height: 410px" th:if="${getMovieSlide.size > 0}">
                        <div class="movie-item" style="height: 100%">
                            <div class="mv-img" style="height: 100%">
                                <a th:href="'/movie/get/' + ${movie.id}">
                                    <img th:src="${movie.poster}" alt="" width="285" height="100%" style="object-fit: cover">
                                </a>
                            </div>
                            <div class="mv-item-eth">
                                <h6>
                                    <a th:if="${account_id != null and #lists.contains(favoriteMovieIds, movie.id)}"
                                       type="button"
                                       class="btn btn-warning waves-effect waves-light favorite-icon"
                                       th:attr="data-movie-id=${movie.id}">
                                        <i class="ion-android-favorite"></i>
                                    </a>
                                    <a th:if="${account_id != null and not #lists.contains(favoriteMovieIds, movie.id)}"
                                       type="button"
                                       class="btn btn-warning waves-effect waves-light favorite-icon"
                                       th:attr="data-movie-id=${movie.id}">
                                        <i class="ion-android-favorite-outline"></i>
                                    </a>
                                    <a th:if="${account_id == null}"
                                       type="button"
                                       class="btn btn-warning waves-effect waves-light favorite-icon heart-error"
                                       th:attr="data-movie-id=${movie.id}">
                                        <i class="ion-android-favorite-outline"></i>
                                    </a>
                                </h6>
                                <div class="heart-container"></div>
                            </div>
                            <div class="title-in">
                                <div class="cate">
                                    <span class="yell"><a href="#" th:text="${movie.genre.name}"></a></span>
                                </div>
                                <h6><a th:href="'/movie/get/' + ${movie.id}" th:text="${movie.name}"></a></h6>
                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                            </div>
                        </div>
                    </div>
                    <div th:if="${getMovieSlide.size == 0}" style="height: 410px">
                        <div class="movie-item" style="height: 100%">
                            <div class="mv-img" style="height: 100%">
                                <a >
                                    <img src="https://m.media-amazon.com/images/I/61s8vyZLSzL.jpg" alt="" width="285" height="100%" style="object-fit: cover">
                                </a>
                            </div>
                            <div class="title-in">
                                <div class="cate">
                                    <span class="yell">No Data</span>
                                </div>
                                <h6>No Data</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="movie-items">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-8">
                    <div class="title-hd">
                        <h2>Series</h2>
                        <a href="http://localhost:8080/movie/category/z3eKguZnAz0bSJT7" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="tabs">
                        <ul class="tab-links">
                            <li class="active"><a href="#tab1">#Popular</a></li>
                            <li><a href="#tab2"> #Coming soon</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <div class="slide-it" th:each="movieSerieInPopular:${getMovieBySeriesInPopular}" th:if="${getMovieBySeriesInPopular.size>0}">
                                            <div class="movie-item" style="height: 100%">
                                                <div class="mv-img" style="height: 100%">
                                                    <img th:src="${movieSerieInPopular.poster}" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a th:href="'/movie/get/' + ${movieSerieInPopular.id}"> Watch <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="mv-item-eth">
                                                    <h6>
                                                        <a th:if="${account_id != null and #lists.contains(favoriteMovieIds, movieSerieInPopular.id)}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon"
                                                           th:attr="data-movie-id=${movieSerieInPopular.id}">
                                                            <i class="ion-android-favorite"></i>
                                                        </a>
                                                        <a th:if="${account_id != null and not #lists.contains(favoriteMovieIds, movieSerieInPopular.id)}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon"
                                                           th:attr="data-movie-id=${movieSerieInPopular.id}">
                                                            <i class="ion-android-favorite-outline"></i>
                                                        </a>
                                                        <a th:if="${account_id == null}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon heart-error">
                                                            <i class="ion-android-favorite-outline"></i>
                                                        </a>
                                                    </h6>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a th:href="'/movie/get/' + ${movieSerieInPopular.id}" th:text="${movieSerieInPopular.name}"></a></h6>
                                                    <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-it" th:if="${getMovieBySeriesInPopular.size == 0}">
                                            <div class="movie-item" style="height: 100%">
                                                <div class="mv-img" style="height: 100%">
                                                    <img src="https://m.media-amazon.com/images/I/61s8vyZLSzL.jpg" alt="" width="185" height="284">
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#" >No Data</a></h6>
                                                    <p>No Data</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <div class="slide-it" th:each="movieSeriesInCommingSoon:${getMovieBySeriesInCommingSoon}" th:if="${getMovieBySeriesInCommingSoon.size > 0}">
                                            <div class="movie-item" style="height: 100%">
                                                <div class="mv-img" style="height: 100%">
                                                    <img th:src="${movieSeriesInCommingSoon.poster}" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a th:href="'/movie/get/' + ${movieSeriesInCommingSoon.id}"> Watch <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="mv-item-eth">
                                                    <h6>
                                                        <a th:if="${account_id != null and #lists.contains(favoriteMovieIds, movieSeriesInCommingSoon.id)}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon"
                                                           th:attr="data-movie-id=${movieSeriesInCommingSoon.id}">
                                                            <i class="ion-android-favorite"></i>
                                                        </a>
                                                        <a th:if="${account_id != null and not #lists.contains(favoriteMovieIds, movieSeriesInCommingSoon.id)}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon"
                                                           th:attr="data-movie-id=${movieSeriesInCommingSoon.id}">
                                                            <i class="ion-android-favorite-outline"></i>
                                                        </a>
                                                        <a th:if="${account_id == null}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon heart-error">
                                                            <i class="ion-android-favorite-outline"></i>
                                                        </a>
                                                    </h6>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a th:href="'/movie/get/' + ${movieSeriesInCommingSoon.id}" th:text="${movieSeriesInCommingSoon.name}"></a></h6>
                                                    <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-it" th:if="${getMovieBySeriesInCommingSoon.size == 0}">
                                            <div class="movie-item" style="height: 100%">
                                                <div class="mv-img" style="height: 100%">
                                                    <img src="https://m.media-amazon.com/images/I/61s8vyZLSzL.jpg" alt="" width="185" height="284">
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#" >No Data</a></h6>
                                                    <p>No Data</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-hd">
                        <h2>Single</h2>
                        <a href="http://localhost:8080/movie/category/4x2vO6TRz7WZ3aIW" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="tabs">
                        <ul class="tab-links-2">
                            <li class="active"><a href="#tab21">#Popular</a></li>
                            <li><a href="#tab22"> #Coming soon</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab21" class="tab active">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <div class="slide-it" th:each="movieSinglePopular:${getMovieBySinglePopular}" th:if="${getMovieBySinglePopular.size > 0}">
                                            <div class="movie-item" style="height: 100%">
                                                <div class="mv-img" style="height: 100%">
                                                    <img th:src="${movieSinglePopular.poster}" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">

                                                    <a th:href="'/movie/get/' + ${movieSinglePopular.id}"> Watch <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="mv-item-eth">
                                                    <h6>
                                                        <a th:if="${account_id != null and #lists.contains(favoriteMovieIds, movieSinglePopular.id)}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon"
                                                           th:attr="data-movie-id=${movieSinglePopular.id}">
                                                            <i class="ion-android-favorite"></i>
                                                        </a>
                                                        <a th:if="${account_id != null and not #lists.contains(favoriteMovieIds, movieSinglePopular.id)}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon"
                                                           th:attr="data-movie-id=${movieSinglePopular.id}">
                                                            <i class="ion-android-favorite-outline"></i>
                                                        </a>
                                                        <a th:if="${account_id == null}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon heart-error">
                                                            <i class="ion-android-favorite-outline"></i>
                                                        </a>
                                                    </h6>
                                                </div>
                                                <div class="title-in">

                                                    <h6><a th:href="'/movie/get/' + ${movieSinglePopular.id}" th:text="${movieSinglePopular.name}"></a></h6>
                                                    <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-it" th:if="${getMovieBySinglePopular.size == 0}">
                                            <div class="movie-item" style="height: 100%">
                                                <div class="mv-img" style="height: 100%">
                                                    <img src="https://m.media-amazon.com/images/I/61s8vyZLSzL.jpg" alt="" width="185" height="284">
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#" >No Data</a></h6>
                                                    <p>No Data</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab22" class="tab">
                                <div class="row">
                                    <div class="slick-multiItem">
                                        <div class="slide-it" th:each="movieBySingleInCommingSoon:${getMovieBySingleInCommingSoon}" th:if="${getMovieBySingleInCommingSoon.size > 0}">
                                            <div class="movie-item" style="height: 100%">
                                                <div class="mv-img" style="height: 100%">
                                                    <img th:src="${movieBySingleInCommingSoon.poster}" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">

                                                    <a  th:href="'/movie/get/' + ${movieBySingleInCommingSoon.id}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="mv-item-eth">
                                                    <h6>
                                                        <a th:if="${account_id != null and #lists.contains(favoriteMovieIds, movieBySingleInCommingSoon.id)}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon"
                                                           th:attr="data-movie-id=${movieBySingleInCommingSoon.id}">
                                                            <i class="ion-android-favorite"></i>
                                                        </a>
                                                        <a th:if="${account_id != null and not #lists.contains(favoriteMovieIds, movieBySingleInCommingSoon.id)}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon"
                                                           th:attr="data-movie-id=${movieBySingleInCommingSoon.id}">
                                                            <i class="ion-android-favorite-outline"></i>
                                                        </a>
                                                        <a th:if="${account_id == null}"
                                                           type="button"
                                                           class="btn btn-warning waves-effect waves-light favorite-icon heart-error">
                                                            <i class="ion-android-favorite-outline"></i>
                                                        </a>
                                                    </h6>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a th:href="'/movie/get/' + ${movieBySingleInCommingSoon.id}" th:text="">Interstellar</a></h6>
                                                    <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slide-it" th:if="${getMovieBySingleInCommingSoon.size == 0}">
                                            <div class="movie-item" style="height: 100%">
                                                <div class="mv-img" style="height: 100%">
                                                    <img src="https://m.media-amazon.com/images/I/61s8vyZLSzL.jpg" alt="" width="185" height="284">
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#" >No Data</a></h6>
                                                    <p>No Data</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <a href="http://bongdaso66.org/" target="_blank">
                            <div class="ads">
                                <img src="http://bongdaso66.org/adv/bongdaso%20300x250.gif" alt="" width="336" height="296">
                            </div>
                        </a>
                        <div class="celebrities">
                            <h4 class="sb-title">Spotlight Ads</h4>
                            <a href="https://aptech.fpt.edu.vn/" target="_blank">
                                <div class="celeb-item">
                                    <img src="https://aptech.fpt.edu.vn/wp-content/uploads/2020/11/Banenrweb-FAT-2020-mobile-523x800.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="trailers">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-12">
                    <div class="title-hd">
                        <h2>in theater</h2>
                        <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="videos">
                        <div class="slider-for-2 video-ft">
                            <div th:each="trailerVideo:${getMovieSlide}" th:if="${getMovieSlide.size > 0}">
                                <div class="item-video" th:utext="${trailerVideo.trailer}"></div>
<!--                                <iframe  src="" data-src="https://www.youtube.com/embed/1Q8fG0TtVAY" ></iframe>-->
                            </div>
                            <div th:if="${getMovieSlide.size > 0}">
                                <iframe  src="" data-src="https://www.youtube.com/embed/1Q8fG0TtVAY" ></iframe>
                            </div>
                        </div>
                        <div class="slider-nav-2 thumb-ft">
                            <div class="item" th:each="trailerInfo:${getMovieSlide}" th:if="${getMovieSlide.size > 0}">
                                <div class="trailer-img">
                                    <img th:src="${trailerInfo.poster}"  alt="photo by Barn Images" width="4096" height="2737">
                                </div>
                                <div class="trailer-infor">
                                    <h4 class="desc" th:text="${trailerInfo.name}"></h4>
                                    <p>2:30</p>
                                </div>
                            </div>
                            <div class="item" th:if="${getMovieSlide.size == 0}">
                                <div class="trailer-img">
                                    <img src="https://m.media-amazon.com/images/I/61s8vyZLSzL.jpg"  alt="photo by Barn Images" width="4096" height="2737" style="object-fit:cover; overflow: hidden;">
                                </div>
                                <div class="trailer-infor">
                                    <h4 class="desc" >No Data</h4>
                                    <p>No Data</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script>

    $('.heart-error').click(function (e){
        e.preventDefault();
        Swal.fire({
            title: 'Error!',
            text: "you loggin favorite movie",
            icon: 'error',
            confirmButtonText: 'OK'
        });
    })
    $('.favorite-icon').click(function (e){
        e.preventDefault();
        debugger;
        let movieId = $(this).data('movie-id');
        let accountId = $('.idAccount').text();
        var formData = {
            movies: movieId,
            account: accountId,
        };
        $.ajax({
            url: "/v1/favouritesMovies/add",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formData),
            success: function (result) {
                var $this = $('.favorite-icon[data-movie-id="' + movieId + '"]');
                $this.toggleClass('btn-warning btn-danger');
                $this.find('i').toggleClass('ion-android-favorite ion-android-favorite-outline');
                // Hiển thị hiệu ứng tim
                $this.append('<span class="heart-effect"><i class="fa fa-heart"></i></span>');
                setTimeout(function() {
                    $this.find('.heart-effect').remove();
                }, 1000);
            },
            error: function (error) {
                console.log(error);
                var errorHtml = '<div class="float-end alert alert-danger alert-dismissible fade show" role="alert">\n' +
                    '                                            An error occurred !\n' +
                    '                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                    '                                        </div>';
                $("#alertError").html(errorHtml);
                setTimeout(function () {
                    $("#alertError").empty();
                }, 2000);
            }
        })
    })
    </script>
    <script>

        function shareFacebookPage() {
               // Get the current page URL and title
               var currentPageUrl = window.location.href;
               var currentPageTitle = document.title;

               // Construct the Facebook share URL
               var facebookShareUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(currentPageUrl) + "&t=" + encodeURIComponent(currentPageTitle);

               // Open the Facebook share page in a new window
               window.open(facebookShareUrl, "_blank");
           }
       function shareToTwitter() {
           // Get the current page URL and title
           var currentPageUrl = window.location.href;
           var currentPageTitle = document.title;

           // Construct the Twitter share URL
           var twitterShareUrl = "https://twitter.com/intent/tweet?";
           twitterShareUrl += "url=" + encodeURIComponent(currentPageUrl);
           twitterShareUrl += "&text=" + encodeURIComponent(currentPageTitle);
           twitterShareUrl += "&via=yourTwitterHandle"; // Replace 'yourTwitterHandle' with your actual Twitter handle
           twitterShareUrl += "&hashtags=yourhashtagshere"; // Replace 'yourhashtagshere' with your desired hashtags

           // Open the Twitter share page in a new window
           window.open(twitterShareUrl, "_blank");
       }
              function shareToGooglePlus() {
        var googlePlusShareUrl = `https://plus.google.com/share?url=${encodeURIComponent(currentPageUrl)}`;
        window.open(googlePlusShareUrl, '_blank');
       }

    </script>
</th:block>
</body>
</html>

