<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/public/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #main-content},
                                                ~{:: #js-resources}
                                               )}">
<head>
    <!-- Basic need -->
    <title>Block Buster | Movie Player</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <th:block id="css-resources"></th:block>
</head>
<body>

<main id="main-content">
    <div class="trailers full-width">
        <div class="row ipad-width" style="margin-top: 150px;">
            <div class="title-hd">
                <h2>in theater</h2>
                <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
            </div>

            <div class="videos">
                <div class="main-video-container">
                    <video id="video" class="main-video">
                        <source src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
                    </video>
                    <h3 class="main-video-title">big buck bunny</h3>
                    <span class="loader"></span>
                    <div class="player-state">
						<span class="state-btn state-backward">
							<ion-icon name="play-back-outline"></ion-icon>
							<span class="backward-duration">5</span>
						</span>
                        <span class="main-state state-btn">
							<ion-icon name="play-outline"></ion-icon>
						</span>
                        <span class="state-btn state-forward">
							<span class="forward-duration">5</span>
							<ion-icon name="play-forward-outline"></ion-icon>
						</span>
                    </div>
                    <div class="controls">
                        <div class="duration">
                            <div class="current-time"></div>
                            <div class="hover-time">
                                <span class="hover-duration"></span>
                            </div>
                            <div class="buffer"></div>
                        </div>
                        <div class="btn-controls">
                            <div class="btn-con">
                                <span class="play-pause control-btn">
                                    <ion-icon name="play-outline"></ion-icon>
                                </span>
                                <span class="volume">
                                    <span class="mute-unmute control-btn">
                                        <ion-icon name="volume-high-outline"></ion-icon>
                                    </span>
                                    <div class="max-vol">
                                        <div class="current-vol"></div>
                                    </div>
                                </span>
                                <span class="time-container">
                                    <span class="current-duration">0:00</span>
                                    <span>/</span>
                                    <span class="total-duration">0:00</span>
                                </span>
                            </div>
                            <div class="right-controls">
                                <span class="backward control-btn" title="5 backward">
                                    <ion-icon name="play-back-outline"></ion-icon>
                                </span>
                                <span class="forward control-btn" title="5 forward">
                                    <ion-icon name="play-forward-outline"></ion-icon>
                                </span>
                                <span class="mini-player control-btn">
                                    <ion-icon name="albums-outline"></ion-icon>
                                </span>
                                <span class="settings control-btn">
                                    <span class="setting-btn">
                                        <ion-icon name="options-outline"></ion-icon>
                                    </span>
                                    <ul class="setting-menu">
                                        <li data-value="0.25">0.25x</li>
                                        <li data-value="0.5">0.5x</li>
                                        <li data-value="0.75">0.75x</li>
                                        <li data-value="1" class="speed-active">1x</li>
                                        <li data-value="1.25">1.25x</li>
                                        <li data-value="1.5">1.5x</li>
                                        <li data-value="1.75">1.75x</li>
                                        <li data-value="2">2x</li>
                                    </ul>
                                </span>
                                <span class="fullscreen-btn control-btn" title="fullscreen">
                                    <span class="full">
                                        <ion-icon name="scan-outline"></ion-icon>
                                    </span>
                                    <span class="contract">
                                        <ion-icon name="contract-outline"></ion-icon>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="video-list-container">
                    <div class="list active">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                                   class="list-video"
                                   th:poster="@{/public/images/posters/BigBuckBunny.png}">
                            </video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 0</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                                   class="list-video"
                                   th:poster="@{/public/images/posters/BigBuckBunny.png}">
                            </video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 1</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 2</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 3</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 4</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 5</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 6</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 7</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 8</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 9</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 10</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 11</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 12</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 13</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 14</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="video-select">
                            <video src="https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" class="list-video" th:poster="@{/public/images/posters/BigBuckBunny.png}"></video>
                        </div>
                        <div class="video-details">
                            <h4 class="list-title">big buck bunny 15</h4>
                            <p class="list-duration">9:56</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="blog-detail-ct">
                        <!-- share link -->
                        <div class="flex-it share-tag">
                            <div class="social-link">
                                <h4>Share it</h4>
                                <a href="#"><i class="ion-social-facebook"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                                <a href="#"><i class="ion-social-googleplus"></i></a>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                                <a href="#"><i class="ion-social-linkedin"></i></a>
                            </div>
                            <div class="right-it">
                                <h4>Tags</h4>
                                <a href="#">Gray,</a>
                                <a href="#">Film,</a>
                                <a href="#">Poster</a>
                            </div>
                        </div>
                        <!-- comment items -->
                        <div class="comments">
                            <h4>04 Comments</h4>
                            <div class="cmt-item flex-it">
                                <img src="images/uploads/author.png" alt="">
                                <div class="author-infor">
                                    <div class="flex-it2">
                                        <h6><a href="#">Steve Perry</a></h6> <span class="time"> - 27 Mar 2017</span>
                                    </div>
                                    <p>Even though Journey's classic vocalist Steve Perry didn’t reunite with the band
                                        during their Rock Hall performance (to the dismay of hopeful fans), he did offer
                                        up a touching speech.</p>
                                    <p><a class="rep-btn" href="#">+ Reply</a></p>
                                </div>
                            </div>
                            <div class="cmt-item flex-it reply">
                                <img src="images/uploads/author2.png" alt="">
                                <div class="author-infor">
                                    <div class="flex-it2">
                                        <h6><a href="#">Joss Whedon</a></h6> <span class="time"> - 27 Mar 2017</span>
                                    </div>
                                    <p>Prince died not long after the 2016 Rock Hall ceremony, so this year's edition
                                        featured Lenny Kravitz and a full gospel choir performing a swamp-funk take on
                                        When Doves Cry.</p>
                                </div>
                            </div>
                            <div class="cmt-item flex-it reply">
                                <img src="images/uploads/author3.png" alt="">
                                <div class="author-infor">
                                    <div class="flex-it2">
                                        <h6><a href="#">Dave McNary</a></h6> <span class="time"> - 27 Mar 2017</span>
                                    </div>
                                    <p>Blue Sky Studios is one of the world’s leading digital animation movie studios
                                        and we are proud of their commitment to stay and grow in Connecticut.</p>
                                </div>
                            </div>
                            <div class="cmt-item flex-it">
                                <img src="images/uploads/author4.png" alt="">
                                <div class="author-infor">
                                    <div class="flex-it2">
                                        <h6><a href="#">Margot Robbie</a></h6> <span class="time"> - 27 Mar 2017</span>
                                    </div>
                                    <p>Joan Baez was the sharpest of the Rock Hall inductees, singing about deportees
                                        and talking social activism as well as joking about her age and the likelihood
                                        that a good portion of the Barclays. </p>
                                    <p><a class="rep-btn" href="#">+ Reply</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form">
                            <h4>Leave a comment</h4>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Your name">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Your email">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Website">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea name="message" id="" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="submit" type="submit" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- comment form -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
</th:block>
</body>
</html>