<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" data-menu-color="brand" data-topbar-color="light"
      th:replace="~{/admin/layout/layout :: main-fragment(
                                    ~{:: title},
                                    ~{:: #css-resources},
                                    ~{:: #main-content},
                                    ~{:: #js-resources}
                                 )}">
<head>
    <meta charset="UTF-8">
    <title>Categories | Add</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Myra Studio" name="author" />
    <th:block id="css-resources">
    </th:block>
</head>
<body>
<main id="main-content">
    <div class="px-3">
        <div class="container-fluid">
            <div id="alertError" style="position: fixed; top: 80px; right: -90px;transform: translateX(-50%); z-index: 9999;"></div>

            <!-- start page title -->
            <div class="py-3 py-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="page-title mb-0">Add Category News</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="p-2">
                                        <form id="formAddGenre" method="post" class="form-horizontal">
                                            <div class="mb-2 row">
                                                <label class="col-md-2 col-form-label" for="name">Name</label>
                                                <div class="col-md-10">
                                                    <input type="text" id="name" class="form-control" placeholder="Some text value...">
                                                    <span class="error name_err"></span>
                                                </div>
                                            </div>
                                            <div class="mb-2 row">
                                                <label class="col-md-2 col-form-label">Status</label>
                                                <div class="col-md-10">
                                                    <select class="form-select" id="select-status">
                                                        <option selected>Select status</option>
                                                        <option value=1>Enable</option>
                                                        <option value=0>Disable</option>
                                                    </select>
                                                    <span class="invalid-feedback text-danger"
                                                          id="invalid-feedback-status">The status is not null.</span>
                                                </div> <!-- end col -->
                                            </div>
                                            <a th:href="@{/admin-categories}" type="submit" class="btn btn-primary float-right" style="margin-left: 200px">Back</a>
                                            <button type="submit" class="btn btn-primary float-end">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </div>
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
        </div>
    </div>
</main>
<th:block id="js-resources">
    <script th:inline="javascript">
        $(document).ready(function (){

            // check validate
            function validateName(){
                var name = $("#name").val();
                if(name.trim() === ""){
                    $(".name_err").text("The name is not null.");
                    return false;
                }
                else if(name.length < 2){
                    $(".name_err").text("The name must be at least 2 characters long.");
                    return false;
                }
                else {
                    $(".name_err").text("")
                    return true;
                }
            }

            function validateStatus(){
                let Getstatus = $('#select-status').val() == 1 ? true : false;
                if (!Getstatus || Getstatus === "Select status") {
                    $('#invalid-feedback-status').show();
                } else {
                    $('#invalid-feedback-status').hide();
                }
            }

            // Event listeners for input changes
            $("#name").on("input", validateName);
            $("#select-status").on("input",validateStatus);

            $("#formAddGenre").submit(function (event) {

                //Prevent default form submission
                event.preventDefault();
                debugger;
                // Check if any validation fails
                if (!validateName() && !validateStatus()) {
                    return false; // Prevent form submission if validation fails
                }
                var formData = {
                    name: $("#name").val(),
                    status: $("#select-status").val(),
                }

                //Send an Ajax request to server
                $.ajax({
                    url: '/v1/categories/add',
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(formData),
                    success: function (result) {
                        setTimeout(function () {
                            window.location.href = "/admin-categories";
                        });
                    },
                    error: function (error) {
                        var errorHtml = '<div class="float-end alert alert-danger alert-dismissible fade show" role="alert">\n' +
                            '                                            <i class="mdi mdi-block-helper me-2"></i>\n' +
                            '                                            Name already exists !\n' +
                            '                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                            '                                        </div>';
                        $("#alertError").html(errorHtml);
                        setTimeout(function() {
                            $("#alertError").empty(); // Ẩn đi cái alert sau 3s
                        }, 2000);
                    }
                });
            })
        })
    </script>
</th:block>
</body>
</html>