<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/public/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #main-content},
                                                ~{:: #js-resources}
                                               )}">
<head>
    <!-- Basic need -->
    <title>Block Buster | Movie Player</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <th:block id="css-resources"></th:block>
</head>
<body>
<main id="main-content">
    <div class="contact-us full-width">
        <div class="row ipad-width" style="margin-top: 150px;">
            <div class="container-contact100">
                <div class="wrap-contact100">
                    <div class="contact100-form-title" style="background-image: url(/public/images/bg-01.jpg);">
                        <span class="contact100-form-title-1">Contact Us</span>
                        <span class="contact100-form-title-2">We're open for any suggestion or just to have a chat.</span>
                    </div>
                    <form class="contact100-form validate-form">
                        <div class="wrap-input100 validate-input" data-validate="Name is required">
                            <span class="label-input100">Full Name:</span>
                            <input class="input100" type="text" name="name" placeholder="Enter full name">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <span class="label-input100">Email:</span>
                            <input class="input100" type="text" name="email" placeholder="Enter email address">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Phone is required">
                            <span class="label-input100">Phone:</span>
                            <input class="input100" type="text" name="phone" placeholder="Enter phone number">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Message is required">
                            <span class="label-input100">Message:</span>
                            <textarea class="input100" name="message" placeholder="Your Comment..."></textarea>
                            <span class="focus-input100"></span>
                        </div>
                        <div class="container-contact100-form-btn">
                            <button class="contact100-form-btn">
                                <span>Submit<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

<th:block id="js-resources">
</th:block>
</body>
</html>