<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" data-menu-color="brand"
      data-topbar-color="light"
      th:replace="~{/admin/layout/layout :: main-fragment(
                                    ~{:: title},
                                    ~{:: #css-resources},
                                    ~{:: #main-content},
                                    ~{:: #js-resources}
                                 )}">
<head>
    <meta charset="utf-8"/>
    <title>Movies | Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Myra Studio" name="author"/>
    <th:block id="css-resources">
    </th:block>
</head>
<body>

<main id="main-content">
    <div>
        <h4 class="page-title mt-4 m-md-4 m-lg-4 mb-0" th:text="'Film: ' + ${getMovie.name}"></h4>
    </div>
    <div class="d-flex flex-lg-wrap m-auto">
        <div th:each="episode:${getEpisode}">
            <div class="card mt-4 m-md-4 m-lg-4" style="width: 18rem;">
                <video class="card-img-top" controls th:if="${getMovie.isApi==0}">
                    <source th:src="${episode.link}" type="video/mp4">
                </video>
                <iframe th:src="${episode.link}" th:if="${getMovie.isApi==1}"></iframe>
                <div class="card-body">
                    <h5 class="card-title" th:text="'Episode: ' + ${episode.name}"></h5>
                    <p class="card-text" th:text="${episode.description}"></p>
                    <div class="d-flex justify-content-end">
                        <a href="#" class="btn btn-primary m-lg-2 editEpisode" th:value="${episode.id}" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</a>
                        <a href="#" class="btn btn-danger m-md-2 btn-episode-delete" th:value="${episode.id}">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="topbar-filter d-flex justify-content-between mt-4 m-md-4 m-lg-4 mb-0">
        <div>
            <label>Movies per page:</label>
            <select onchange="window.location.href = this.value;">
                <option value="?size=20" th:selected="${size == 20}">20 Movies</option>
                <option value="?size=10" th:selected="${size == 10}">10 Movies</option>
            </select>
        </div>
        <div class="pagination2 d-flex justify-content-between w-50">
            <span>Page <span th:text="${currentPage}"></span> of <span th:text="${totalPages}"></span>:</span>
            <!-- Nút Previous -->
            <a class="btn btn-secondary btn-sm" th:if="${currentPage > 1}" th:href="@{'/admin-movie/episode/list/id=' + ${getMovie.id} + '?page=' + (${currentPage - 1}) + '&size=' + ${size}}">Previous</a>
            <!-- Các trang -->
            <div class="btn-group">
                <a class="btn btn-outline-secondary btn-sm" th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                   th:classappend="${pageNum == currentPage} ? 'active btn-primary' : ''"
                   th:href="@{'/admin-movie/episode/list/id=' + ${getMovie.id} + '?page=' + ${pageNum} + '&size=' + ${size}}" th:text="${pageNum}"></a>
            </div>
            <!-- Nút Next -->
            <a class="btn btn-secondary btn-sm" th:if="${currentPage < totalPages}" th:href="@{'/admin-movie/episode/list/id=' + ${getMovie.id} + '?page=' + (${currentPage + 1}) + '&size=' + ${size}}">Next</a>
        </div>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEditEpisode" method="post" class="form-horizontal" role="form">

                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label" for="episode-id">Id Episode</label>
                            <div class="col-md-10">
                                <input id="episode-id" class="form-control" readonly style="color: #bdbdbd; opacity: 100%; border-color: #ccc9c9">
                            </div>
                        </div>

                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label" for="input-name">Name</label>
                            <div class="col-md-10">
                                <input id="input-name" class="form-control" readonly style="color: #bdbdbd; opacity: 100%; border-color: #ccc9c9">
                            </div>
                        </div>


                        <div class="row mb-2">
                            <label class="col-md-2 col-form-label">Description</label>
                            <div class="col-md-10">
                                <div id="snow-editor" style="width: 100%; height: 200px">
                                </div>
                                <span class="invalid-feedback text-danger"
                                      id="invalid-feedback-description">The description is not null.</span>
                            </div><!-- end col -->
                        </div>
                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label" for="duration">License Start</label>
                            <div class="col-md-10">
                                <input class="form-control" type="date" name="date" id="duration">
                                <span class="error duration_err">The license start is not null.</span>
                            </div>
                        </div>

                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label" for="fileSize">File size</label>
                            <div class="col-md-10">
                                <input type="text" id="fileSize" class="form-control">
                                <span class="error fileSize_err"></span>
                            </div>
                        </div>

                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label" for="licensePrice">License Price</label>
                            <div class="col-md-10">
                                <input type="text" id="licensePrice" class="form-control">
                                <span class="error licensePrice_err"></span>
                            </div>
                        </div>

                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label" for="licenseStart">License Start</label>
                            <div class="col-md-10">
                                <input class="form-control" type="date" name="date" id="licenseStart">
                                <span class="invalid-feedback text-danger"
                                      id="invalid-feedback-licenseStart">The license start is not null.</span>
                            </div>
                        </div>

                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label" for="licenseEnd">License End</label>
                            <div class="col-md-10">
                                <input class="form-control" type="date" name="date" id="licenseEnd">
                                <span class="invalid-feedback text-danger"
                                      id="invalid-feedback-licenseEnd">The license end is not null.</span>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label" for="tax">Tax</label>
                            <div class="col-md-10">
                                <input type="text" id="tax" class="form-control">
                                <span class="error tax_err"></span>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label">Status</label>
                            <div class="col-md-10">
                                <select class="form-select" id="select-status">
                                    <option selected>Select status</option>
                                    <option value="1">Enable</option>
                                    <option value="0">Disable</option>
                                </select>
                                <span class="invalid-feedback text-danger" id="invalid-feedback-status">The status is not null.</span>
                            </div> <!-- end col -->
                        </div>

                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label" for="file-episode">Link Episode</label>
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="file-episode">
                                <div class="d-none" id="uploadPreviewMovie">
                                    <div class="card-preview-poster card mt-1 mb-0 shadow-none border">
                                        <div class="p-2">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <video src=""
                                                           class="avatar-sm rounded bg-light" alt="">
                                                    </video>
                                                </div>
                                                <div class="col ps-0">
                                                    <a href=""
                                                       class="text-muted fw-bold" data-dz-name></a>
                                                    <p class="mb-0" id="image-size"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="invalid-feedback text-danger"
                                      id="invalid-feedback-linkEpisode">The episode is not null.</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-end">update</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">

    <script>
        let getMovieId;
        let getEpisodeId;
        $(".editEpisode").click(function (){
            var episodeId = $(this).attr("value");
            $.ajax({
                type: 'GET',
                url: '/v1/episodes/' + episodeId,
                success: function (response) {
                    if (response) {
                        episode = response;
                        getEpisodeId = episode.id;
                        getMovieId = episode.movieId.id;
                        // Populate basic input fields
                        $('#episode-id').val(episode.id);
                        $('#input-name').val(episode.name);
                        var quill = new Quill('#snow-editor');
                        quill.root.innerHTML = episode.description;
                        $('#duration').val(episode.duration);
                        $('#fileSize').val(episode.fileSize);
                        $('#licensePrice').val(episode.licensePrice);
                        if (episode.licenseStart) {
                            var licenseStart = new Date(episode.licenseStart);
                            var licenseStartDateString = licenseStart.toISOString().substring(0, 10);
                            $('#licenseStart').val(licenseStartDateString);
                        }
                        if (episode.licenseEnd) {
                            var licenseEnd = new Date(episode.licenseEnd);
                            var licenseEndDateString = licenseEnd.toISOString().substring(0, 10);
                            $('#licenseEnd').val(licenseEndDateString);
                        }
                        $('#tax').val(episode.tax);
                        $('#select-status').val(episode.status ? 1 : 0);
                        if (episode.link) {
                            $('#uploadPreviewMovie video').attr('src', episode.link);
                            $('#uploadPreviewMovie').removeClass('d-none');
                            displayVideos([episode.link]);
                        } else {
                            $('#uploadPreviewMovie video').addClass('d-none');
                        }
                    }
                },
                error: function (err) {
                    var errorHtml = '<div class="float-end alert alert-danger alert-dismissible fade show" style="margin-right: 16px" role="alert">\n' +
                        'Not found Movie Id!\n' +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                        '</div>';
                    $("#alertError").html(errorHtml);
                    setTimeout(function () {
                        $("#alertError").empty();
                    }, 2000);
                }
            })
        });

        //9.Save episode
        $("#formEditEpisode").submit(function (event) {
            event.preventDefault();
            debugger;
            let movieId = getMovieId;
            let episode = $('#input-name').val();
            var quill = new Quill('#snow-editor');
            let description = quill.getText().trim();
            let duration = $('#duration').val();
            let fileSize = $('#fileSize').val();
            let licensePrice = $('#licensePrice').val();
            let licenseStart = $('#licenseStart').val();
            let licenseEnd = $('#licenseEnd').val();
            let tax = $('#tax').val();
            let status = $('#select-status').val();

            var videoSrc = $('#uploadPreviewMovie video').attr('src');

            if (episode < 1) {
                $('#invalid-feedback-episode').show();
            } else {
                $('#invalid-feedback-episode').hide();
            }
            if (description.trim().length === 0) {
                $('#invalid-feedback-description').show();
            } else {
                $('#invalid-feedback-description').hide();
            }
            if (fileSize < 1) {
                $('#fileSize_err').show();
            } else {
                $('#fileSize_err').hide();
            }
            if (licensePrice < 0) {
                $('#licensePrice_err').show();
            } else {
                $('#licensePrice_err').hide();
            }

            if (!licenseStart) {
                $('#invalid-feedback-licenseStart').show();
            } else {
                $('#invalid-feedback-licenseStart').hide();
            }

            if (!licenseEnd) {
                $('#invalid-feedback-licenseEnd').show();
            } else {
                $('#invalid-feedback-licenseEnd').hide();
            }
            if (!status || status === "select-status") {
                $('#invalid-feedback-status').show();
            } else {
                $('#invalid-feedback-status').hide();
            }
            if(tax < 0){
                $('tax_err').show();
            }else {
                $('tax_err').hide();
            }
            if (!videoSrc) {
                $('#invalid-feedback-linkEpisode').show();
            } else {
                $('#invalid-feedback-linkEpisode').hide();
            }

            var formData = {
                id: getEpisodeId,
                name: episode,
                link: videoSrc,
                description: description,
                duration: duration,
                fileSize: fileSize,
                licensePrice: licensePrice,
                licenseStart: licenseStart,
                licenseEnd: licenseEnd,
                tax: tax,
                status: status,
                movieId: movieId,
            };
            $.ajax({
                url: "/v1/episodes/edit",
                type: 'PUT',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(formData),
                success: function (result) {
                    setTimeout(function () {
                        window.location.href = "/admin-movie";
                    });
                },
                error: function (error) {
                    console.log(error);
                    var errorHtml = '<div class="float-end alert alert-danger alert-dismissible fade show" role="alert">\n' +
                        '                                            An error occurred !\n' +
                        '                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                        '                                        </div>';
                    $("#alertError").html(errorHtml);
                    setTimeout(function() {
                        $("#alertError").empty();
                    }, 2000);
                }
            });
        });
        function displayVideos(videoUrls) {
            var container = $('#file-previews');
            container.empty();

            videoUrls.forEach(function(videoUrl) {
                var vdElement = $('<video>').addClass('avatar-sm rounded bg-light').attr('src', videoUrl);
                vdElement.on('loadedmetadata', function() {
                    var vdSizeInBytes = this.duration * 250; // Assuming a bitrate of 250 kbps
                    var vdSizeInMB = vdSizeInBytes / (1024 * 1024); // Convert to MB
                    var vdSizeFormatted = vdSizeInMB.toFixed(2); // Rounded to two decimal places
                    var videoSizeText = 'Size: ' + vdSizeFormatted + ' MB';

                    var cardPreviewVd = $('<div>').addClass('card-preview-vd card mt-1 mb-0 shadow-none border');
                    var p2 = $('<div>').addClass('p-2');
                    var row = $('<div>').addClass('row align-items-center');
                    var colAuto = $('<div>').addClass('col-auto');
                    var colPs0 = $('<div>').addClass('col ps-0');
                    var nameLink = $('<a>').addClass('text-muted fw-bold').attr('href', videoUrl).attr('data-dz-name', '').text(videoUrl);
                    var sizePara = $('<p>').addClass('mb-0').attr('data-dz-size', '').text(videoSizeText);
                    var colAutoDelete = $('<div>').addClass('col-auto');
                    var btnDelete = $('<button>').addClass('btn-delete-image btn btn-danger').text('X');

                    colAuto.append(vdElement);
                    colPs0.append(nameLink);
                    colPs0.append(sizePara);
                    colAutoDelete.append(btnDelete);
                    row.append(colAuto);
                    row.append(colPs0);
                    row.append(colAutoDelete);
                    p2.append(row);
                    cardPreviewVd.append(p2);
                    container.append(cardPreviewVd).removeClass('d-none');
                });
                container.append(vdElement);
            });

            $('#file-episode').change(function() {
                var file = this.files[0];
                var formData = new FormData();
                formData.append('file', file);

                $.ajax({
                    url: '/v1/files/video/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        movieURL = response; // Correct variable assignment
                        console.log("Video uploaded successfully! Response URL: " + response);

                        $('#uploadPreviewMovie video').attr('src', movieURL); // Set video src attribute
                        $('#uploadPreviewMovie').removeClass('d-none');

                        if (response) {
                            displayVideos([response]); // Pass video URL as array
                        }
                    },
                    error: function(error) {
                        console.error("Upload failed: " + error);
                    }
                });
            });
        }
        //.Set quill cho bio
        var quill = new Quill('#snow-editor', {
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],              // các nút tạo định dạng văn bản
                    [{'header': 1}, {'header': 2}],                         // tiêu đề cấp 1 và cấp 2
                    [{'list': 'ordered'}, {'list': 'bullet'}],              // danh sách có thứ tự và không có thứ tự
                    [{'indent': '-1'}, {'indent': '+1'}],                   // thụt vào và thụt ra
                    ['link', 'image', 'video'],                              // chèn liên kết, hình ảnh và video
                    ['clean']                                                // xóa định dạng
                ]
            },
            placeholder: 'Write your bio here...',                           // văn bản gợi ý khi không có nội dung
            theme: 'snow'                                                    // giao diện trắng của trình soạn thảo
        });

        // delete episode
        $('.btn-episode-delete').click(function (e){
            e.preventDefault();
            var episodeId = $(this).attr("value");

            if (confirm('Are you sure you want to delete this celebrity?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/v1/episodes/delete/' + episodeId,
                    success: function() {
                        var successHtml = '<div style="color: #28a745" class="alert alert-success alert-dismissible fade show" role="alert">\n' +
                            '                                            Celebrity deleted successfully' +
                            '                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                            '                                        </div>';
                        $("#alertSuccess").html(successHtml);
                        setTimeout(function() {
                            $("#alertSuccess").empty();
                            window.location.reload();
                        }, 1200);
                    },
                    error: function(err) {
                        var errorHtml = '<div class="float-end alert alert-danger alert-dismissible fade show" role="alert">\n' +
                            '                                            <i class="mdi mdi-block-helper me-2"></i>\n' +
                            '                                           An error has occurred !\n' +
                            '                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                            '                                        </div>';
                        $("#alertError").html(errorHtml);
                        setTimeout(function() {
                            $("#alertError").empty();
                        }, 2000);
                    }
                });
            }
        })
    </script>
</th:block>
</body>
</html>