<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/public/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #main-content},
                                                ~{:: #js-resources}
                                               )}">
<head>
    <!-- Basic need -->
    <title>Block Buster | Actors</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <th:block id="css-resources"></th:block>
</head>
<body>

<main id="main-content">
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1> List Actor</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span> Actor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-single">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="topbar-filter">
                        <p>Found <span th:text="${getListActors.size()} + ' Actors'"> </span> in total</p>
                        <label>Sort by:</label>
                        <select>
                            <option value="popularity">Popularity Descending</option>
                            <option value="popularity">Popularity Ascending</option>
                            <option value="rating">Rating Descending</option>
                            <option value="rating">Rating Ascending</option>
                            <option value="date">Release date Descending</option>
                            <option value="date">Release date Ascending</option>
                        </select>
                        <a href="celebritylist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                        <a  href="celebritygrid01.html" class="grid"><i class="ion-grid active"></i></a>
                    </div>
                    <div class="celebrity-items">
                        <div class="ceb-item" th:each="listActors:${getListActors}">
                            <a th:href="'/casting/' + ${listActors.id}"><div style="height: 400px; width: 270px"><img style="width: 100%; height: 100%; object-fit: cover; overflow: hidden" th:src="${listActors.celebrity.poster}" alt=""></div></a>
                            <div class="ceb-infor">
                                <h2><a th:href="'/casting/' + ${listActors.id}" th:text="${listActors.celebrity.name}"></a></h2>
                                <span>Actors</span>
                            </div>
                        </div>
                    </div>
                    <div class="topbar-filter">
                        <label>Reviews per page:</label>
                        <select onchange="window.location.href = this.value;">
                            <option value="?size=20" th:selected="${size == 20}">20 Movies</option>
                            <option value="?size=10" th:selected="${size == 10}">10 Movies</option>
                        </select>

                        <div class="pagination2">
                            <span>Page <span th:text="${currentPage}"></span> of <span th:text="${totalPages}"></span>:</span>

                            <!-- Nút Previous -->
                            <a th:if="${currentPage > 1}" th:href="@{'/casting/get/' + '?page=' + (${currentPage - 1}) + '&size=' + ${size}}">Previous</a>

                            <!-- Các trang -->
                            <a th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                               th:class="${pageNum == currentPage} ? 'active' : ''"
                               th:href="@{'/casting/get/' + '?page=' + ${pageNum} + '&size=' + ${size}}" th:text="${pageNum}"></a>

                            <!-- Nút Next -->
                            <a th:if="${currentPage < totalPages}" th:href="@{'/casting/get/' + '?page=' + (${currentPage + 1}) + '&size=' + ${size}}">Next</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <!--start search side bar -->
                        <div class="searh-form">
                            <h4 class="sb-title">Search for movie</h4>
                            <form class="form-style-1" th:action="@{/moviefind}" method="get">
                                <div class="row">
                                    <div class="col-md-12 form-it">
                                        <label>Movie name</label>
                                        <input type="text" name="keyword" th:value="${keyword}" placeholder="Enter keywords">
                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Genres & Subgenres</label>
                                        <div class="group-ip">
                                            <select name="genres" multiple class="ui fluid dropdown">
                                                <option value="">Enter to filter genres</option>
                                                <option th:each="genre : ${genreList}" th:value="${genre.name}" th:text="${genre.name}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12 form-it">
                                        <label>Release Year</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select name="yearfrom">
                                                    <option value="1800">From</option>
                                                    <option th:each="year : ${#numbers.sequence(1800, 3100)}" th:value="${year}" th:text="${year}" th:selected="${year == yearfrom}"></option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select name="yearto">
                                                    <option value="3100">To</option>
                                                    <option th:each="year : ${#numbers.sequence(1800, 3100)}" th:value="${year}" th:text="${year}" th:selected="${year == yearto}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <input class="submit" type="submit" value="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--end search side bar-->

                        <div class="ads">
                            <img src="/public/images/uploads/ads1.png" alt="">
                        </div>
                        <div class="sb-facebook sb-it">
                            <h4 class="sb-title">Find us on Facebook</h4>
                            <iframe src="" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhaintheme%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"  height="315" style="width:100%;border:none;overflow:hidden" ></iframe>
                        </div>
                        <div class="sb-twitter sb-it">
                            <h4 class="sb-title">Tweet to us</h4>
                            <div class="slick-tw">
                                <div class="tweet item" id="599202861751410688">
                                </div>
                                <div class="tweet item" id="297462728598122498">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script>var hostUrl = "/";</script>
    <script>
        $(document).ready(function() {
            $('#size-select').on('change', function() {
                const newSize = $(this).val();
                const url = new URL(window.location.href);
                url.searchParams.set('page', 1);
                url.searchParams.set('pageSize', newSize);
                // Set other parameters only if they have a value
                const keyword = $('#keyword').val();
                if (keyword) {
                    url.searchParams.set('keyword', keyword);
                }
                const genres = $('#genres').val();
                if (genres) {
                    url.searchParams.set('genres', genres);
                }
                const yearfrom = $('#yearfrom').val();
                if (yearfrom) {
                    url.searchParams.set('yearfrom', yearfrom);
                }
                const yearto = $('#yearto').val();
                if (yearto) {
                    url.searchParams.set('yearto', yearto);
                }

                window.location.href = url.toString();
            });
            const searchInput = document.querySelector('input[name="keyword"]');
            searchInput.addEventListener('keyup', (event) => {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Prevent default form submission
                    searchInput.form.submit(); // Manually submit the form
                }
            });
        });
    </script>
    <script th:src="@{/plugins/custom/datatables/datatables.bundle.js}"></script>
</th:block>
</body>
</html>