<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="light" data-menu-color="brand"
      data-topbar-color="light"
      th:replace="~{/admin/layout/layout :: main-fragment(
                                    ~{:: title},
                                    ~{:: #css-resources},
                                    ~{:: #main-content},
                                    ~{:: #js-resources}
                                 )}">
<head>
    <meta charset="utf-8"/>
    <title>Movies | Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Myra Studio" name="author"/>
    <th:block id="css-resources">
    </th:block>
</head>
<body>

<main id="main-content">
    <div>
        <h4 class="page-title mt-4 m-md-4 m-lg-4 mb-0">List Movie Have In Comment</h4>
    </div>
    <div class="d-flex flex-lg-wrap m-auto">
        <div th:each="movie:${Movies}">
            <div class="card mt-4 m-md-4 m-lg-4" style="width: 18rem;">
                <div>
                    <img class="w-100 h-100 object-fit-cover overflow-hidden" th:src="${movie.poster}">
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="'Movie Name: ' + ${movie.name}"></h5>
                    <p class="card-text" style="font-weight: bold">Category: <span style="font-weight: normal" th:text="${movie.categoryMovieId.name}"></span></p>
                    <p class="card-text" style="font-weight: bold">Genre:
                        <span th:each="genre:${movie.genreList}">
                            <span style="font-weight: normal" th:text="${genre.name}"></span>
                        </span>
                    </p>
                    <div class="d-flex justify-content-end">
                        <a th:href="'/admin-review/review/' + ${movie.id}" class="btn btn-primary m-lg-2 editEpisode">View Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="topbar-filter d-flex justify-content-between mt-4 m-md-4 m-lg-4 mb-0">
        <div>
            <label>Movies per page:</label>
            <select onchange="window.location.href = this.value;">
                <option value="?size=20" th:selected="${size == 20}">20 Movies</option>
                <option value="?size=10" th:selected="${size == 10}">10 Movies</option>
            </select>
        </div>
        <div class="pagination2 d-flex justify-content-between w-50">
            <span>Page <span th:text="${currentPage}"></span> of <span th:text="${totalPages}"></span>:</span>
            <!-- Nút Previous -->
            <a class="btn btn-secondary btn-sm" th:if="${currentPage > 1}" th:href="@{'/admin-review/review'+ '?page=' + (${currentPage - 1}) + '&size=' + ${size}}">Previous</a>
            <!-- Các trang -->
            <div class="btn-group">
                <a class="btn btn-outline-secondary btn-sm" th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                   th:classappend="${pageNum == currentPage} ? 'active btn-primary' : ''"
                   th:href="@{'/admin-review/review' + '?page=' + ${pageNum} + '&size=' + ${size}}" th:text="${pageNum}"></a>
            </div>
            <!-- Nút Next -->
            <a class="btn btn-secondary btn-sm" th:if="${currentPage < totalPages}" th:href="@{'/admin-review/review' + '?page=' + (${currentPage + 1}) + '&size=' + ${size}}">Next</a>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script>
    </script>
</th:block>
</body>
</html>