#searchResults{
    z-index: 100;
}
.resultMovie{
    background-color: #233a50 !important;
    color: #abb7c4;
    padding: 6px 8px;
}
.listResult{
    display: flex;
    border-bottom: 2px solid #020d18;
    padding-bottom: 8px;
    padding-top: 8px;
}
.resultImage{
    height: 60px;
    width: 40px;
    margin-right: 10px;
}
.resultImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.infoResult{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.infoResultFilm p {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
    color: #abb7c4;
}

.infoResultFilm span {
    color: #abb7c4;
}

.resultViewFilm{
    color: #abb7c4;
}
.resultMovie {
    display: block;
    text-decoration: none;
    color: inherit;
}