<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/public/layout/layout :: main-fragment(
                                    ~{:: title},
                                    ~{:: #css-resources},
                                    ~{:: #main-content},
                                    ~{:: #js-resources}
                                   )}">
<head>
<!-- Basic need -->
<title>Block Buster | Movie Detail</title>
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<th:block id="css-resources"></th:block>
</head>
<body>

<main id="main-content">
<div class="hero mv-single-hero">
    <span style="display: none" class="idAccount" th:text="${account_id}"></span>
<div class="container">
<div class="row">
    <div class="col-md-12">
        <!-- <h1> movie listing - list</h1>
        <ul class="breadcumb">
            <li class="active"><a href="#">Home</a></li>
            <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
        </ul> -->
    </div>
</div>
</div>
</div>

<div class="page-single movie-single movie_single">
<div class="container">
<div class="row ipad-width2">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="movie-img sticky-sb">
            <img th:src="${getMovieId.poster}" alt="">
            <div class="movie-btn">
                <div class="btn-transform transform-vertical red">
                    <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
                    <div><a th:href="${getMovieId.trailer}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
                </div>
                <div th:if="${buyMovie == 1 and account_id != null and not #lists.isEmpty(getEpisode)}" class="btn-transform transform-vertical">
                    <div><a th:href="'/movie/episodeMovie/' + ${firstEpisode.id}" class="item item-1 yellowbtn"> <i class="ion-play"></i> Watch</a></div>
                    <div><a th:href="'/movie/episodeMovie/' + ${firstEpisode.id}" class="item item-2 yellowbtn"><i class="ion-play"></i></a></div>
                </div>
                <div th:if="${buyMovie == 1 and account_id != null and not #strings.isEmpty(dataNotFound)}" class="btn-transform transform-vertical">
                    <div><a class="item item-1 yellowbtn"> <i class="ion-play"></i> Comming Soon</a></div>
                    <div><a class="item item-2 yellowbtn"> <i class="ion-load-a"></i>Comming Soon</a></div>
                </div>
                <div th:if="${buyMovie == 0 and account_id != null}" class="btn-transform transform-vertical">
                    <div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy Account</a></div>
                    <div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
                </div>
                <div th:if="${account_id == null and buyMovie == null}" class="btn-transform transform-vertical">
                    <div><a href="#" class="item item-1 yellowbtn"> <i class="ion-log-in"></i> Login Account</a></div>
                    <div><a href="#" class="item item-2 yellowbtn"><i class="ion-log-in"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="movie-single-ct main-content">
            <h1 class="bd-hd" th:text="${getMovieId.name}"></h1>
            <div class="social-btn">
                <a th:if="${account_id != null and #lists.contains(favoriteMovieIds, getMovieId.id)}" type="button" class="parent-btn favorite-icon favorite-movieDetail" th:attr="data-movie-id=${getMovieId.id}">
                    <i class="ion-android-favorite"></i> Add to Favorite
                </a>
                <a th:if="${account_id != null and not #lists.contains(favoriteMovieIds, getMovieId.id)}" type="button" class="parent-btn favorite-icon favorite-movieDetail" th:attr="data-movie-id=${getMovieId.id}">
                    <i class="ion-android-favorite-outline"></i> Add to Favorite
                </a>
                <a th:if="${account_id == null}" type="button" class="parent-btn heart-error favorite-movieDetail">
                    <i class="ion-android-favorite"></i> Add to Favorite
                </a>
                <div class="hover-bnt">
                    <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                    <div class="hvr-item">
                        <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                        <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                        <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                        <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="movie-rate">
                <div class="rate">
                    <i class="ion-android-star"></i>
                    <p><span th:text="${averageRating}"></span> /10<br>
                        <span class="rv" th:text="${getReviewByMovie.size()}+ ' Reviews'"></span>
                    </p>
                </div>
                <div class="rate-star">
                    <p>Rate This Movie:</p>
                    <th:block th:if="${averageRating > 0}">
                        <th:block th:each="i: ${#numbers.sequence(1, #numbers.formatInteger(averageRating, 0))}">
                            <i class="ion-ios-star"></i>
                        </th:block>
                        <th:block th:each="i: ${#numbers.sequence(#numbers.formatInteger(averageRating+1, 0), 10)}">
                            <i class="ion-ios-star-outline"></i>
                        </th:block>
                    </th:block>
                    <th:block th:if="${averageRating == 0}">
                        <th:block th:each="i: ${#numbers.sequence(1, 10)}">
                            <i class="ion-ios-star-outline"></i>
                        </th:block>
                    </th:block>
                </div>
            </div>
            <div class="movie-tabs">
                <div class="tabs">
                    <ul class="tab-links tabs-mv">
                        <li class="active"><a href="#overview">Overview</a></li>
                        <li><a href="#reviews"> Reviews</a></li>
                        <li><a href="#cast">  Cast & Crew </a></li>
                        <li><a href="#media"> Media</a></li>
                        <li><a href="#moviesrelated"> Related Movies</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="overview" class="tab active">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <p th:text="${getMovieId.description}"></p>
                                    <div class="title-hd-sm">
                                        <h4>Videos & Photos</h4>
                                        <a href="#" class="time" th:text="${getImagesMovie.size()}"><i class="ion-ios-arrow-right"></i></a>
                                    </div>
                                    <div class="mvsingle-item ov-item">
                                        <a th:each="image:${getImagesMovie}" class="img-lightbox" th:src="${image}" style="width: 100px; height: 100px" data-fancybox-group="gallery" th:href="${image}">
                                            <img th:src="${image}" alt="" style="height: 100%; width: 100%; object-fit: cover; overflow: hidden">
                                        </a>
                                    </div>
                                    <!-- movie cast -->
                                    <div class="title-hd-sm">
                                        <h4>cast</h4>
                                        <a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
                                    </div>
                                    <div class="mvcast-item">
                                        <div class="cast-it" th:each="actorMovie:${getActorMovie}">
                                            <div class="cast-left">
                                                <img th:src="${actorMovie.getCelebrity().getPoster()}" alt="" style="width: 40px; height: 40px; object-fit: cover;overflow: hidden">
                                                <a href="#" th:text="${actorMovie.getCelebrity().getName()}"></a>
                                            </div>
                                            <p th:text="${actorMovie.charactor}"></p>
                                        </div>
                                    </div>
                                    <div class="title-hd-sm">
                                        <h4>User reviews</h4>
                                        <a href="#" th:text="'See All ' + ${getReviewByMovie.size()} + ' Reviews'" class="time"><i class="ion-ios-arrow-right"></i></a>
                                    </div>
                                    <!-- movie user review -->
                                    <div class="mv-user-review-item">
                                        <h3>Best Marvel movie in my opinion</h3>
                                        <div class="no-star">
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star"></i>
                                            <i class="ion-android-star last"></i>
                                        </div>
                                        <p class="time">
                                            17 December 2016 by <a href="#"> hawaiipierson</a>
                                        </p>
                                        <p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12 col-sm-12">
                                    <div class="sb-it">
                                        <h6>Director: </h6>
                                        <p th:each="directorMovie:${getDirectorMovie}">
                                            <a th:text="${directorMovie.getCelebrity().name}" th:href="'/director/' + ${directorMovie.id}"></a>
                                        </p>
                                    </div>
                                    <div class="sb-it">
                                        <h6>Writer: </h6>
                                        <p>
                                            <a th:each="writerMovie:${getWriterMovie}" th:href="'/writer/' + ${writerMovie.id}" th:text="${writerMovie.getCelebrity().name} + ', '"></a>
                                        </p>
                                    </div>
                                    <div class="sb-it">
                                        <h6>Stars: </h6>
                                        <p>
                                            <a th:each="actorMovie:${getActorMovie}" th:href="'/casting/' + ${actorMovie.id}" th:text="${actorMovie.getCelebrity().name}+', '"></a>
                                        </p>
                                    </div>
                                    <div class="sb-it">
                                        <h6>Genres:</h6>
                                        <p th:each="genre:${getGenresMovie}">
                                            <a href="#" th:text="${genre.name}"></a>
                                        </p>
                                    </div>
                                    <div class="sb-it">
                                        <h6>Release Date:</h6>
                                        <p th:text="${#dates.format(getMovieId.release, 'dd MMMM yyyy')}"></p>
                                    </div>
                                    <div class="sb-it">
                                        <h6>Run Time:</h6>
                                        <p th:text="${getMovieId.totalDuration} + ' min'"></p>
                                    </div>
                                    <div class="sb-it">
                                        <h6>MMPA Rating:</h6>
                                        <p th:text="${getMovieId.mmpaRating}"></p>
                                    </div>
                                    <div class="sb-it">
                                        <h6>Plot Keywords:</h6>
                                        <p class="tags">
                                            <span class="tag" th:each="keyword : ${getMovieId.keyWords.split(',')}">
                                              <a th:href="@{'/search?q=' + ${keyword.trim()}}" th:text="${keyword.trim()}"></a>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="ads">
                                        <img src="/public/images/uploads/ads1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="reviews" class="tab review">
                            <div class="row">
                                <div class="rv-hd">
                                    <div class="div">
                                        <h3>Related Movies To</h3>
                                        <h2 th:text="${getMovieId.name}"></h2>
                                    </div>

                                    <span class="redbtn">Write Review</span>
                                </div>
                                <div class="card" th:if="${account_id != null and buyMovie == 1}">
                                    <form id="formComment" method="post" th:attr="data-movie-id=${getMovieId.id}">
                                        <div class="col-2 d-flex userAndVote">
                                            <img th:src="${avatarAccount}" width="70" class="rounded-circle mt-2">
                                            <div class="nameUserAndVote">
                                                <span th:text="${nameAccount}"></span>
                                                <br>
                                                <div class="rating">
                                                    <input type="radio" name="rating" value="10" id="10"><label for="10">☆</label>
                                                    <input type="radio" name="rating" value="9" id="9"><label for="9">☆</label>
                                                    <input type="radio" name="rating" value="8" id="8"><label for="8">☆</label>
                                                    <input type="radio" name="rating" value="7" id="7"><label for="7">☆</label>
                                                    <input type="radio" name="rating" value="6" id="6"><label for="6">☆</label>
                                                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                                                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                                                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                                                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                                                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                                                </div>
                                                <span class="invalid-feedback text-danger"
                                                      id="invalid-feedback-voteStar">Please choose star you vote film</span>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="comment-box ml-2">
                                                <div class="formTitle">
                                                    <h4 for="title">Title</h4>
                                                    <div class="title-area">
                                                        <input id="title" class="form-control" placeholder="what is your Title?" rows="4">
                                                    </div>
                                                    <span class="invalid-feedback text-danger"
                                                          id="invalid-feedback-title">Please you input title</span>
                                                </div>
                                                <div class="formComment">
                                                    <h4 for="comment">Comment</h4>
                                                    <div class="comment-area">
                                                        <textarea id="comment" class="form-control" placeholder="what is your comment?" rows="4"></textarea>
                                                    </div>
                                                    <span class="invalid-feedback text-danger"
                                                          id="invalid-feedback-comment">Please you input comment</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="comment-btns mt-2">
                                            <button type="submit" class="buttonCommentSend">Send</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card" th:if="${account_id != null and buyMovie == 0}">
                                    <p>You need to buy account in to review</p>
                                </div>
                                <div class="card" th:if="${account_id == null}">
                                    <p>You need to log in to comment</p>
                                </div>
                                <div class="topbar-filter">
                                    <p>Found <span th:text="${getReviewByMovie.size()} + ' reviews'"></span> in total</p>
                                    <label>Filter by:</label>
                                    <select>
                                        <option value="popularity">Popularity Descending</option>
                                        <option value="popularity">Popularity Ascending</option>
                                        <option value="rating">Rating Descending</option>
                                        <option value="rating">Rating Ascending</option>
                                        <option value="date">Release date Descending</option>
                                        <option value="date">Release date Ascending</option>
                                    </select>
                                </div>
                                <div class="mv-user-review-item" th:each="reviewByMovie:${getReviewByMovie}">
                                    <div class="user-infor">
                                        <img th:src="${reviewByMovie.account.avatar}" alt="">
                                        <div>
                                            <h3 th:text="${reviewByMovie.title}"></h3>
                                            <div class="no-star" th:if="${reviewByMovie.status == 1}">
                                                <i class="ion-android-star" style="margin-right: 4px" th:each="i : ${#numbers.sequence(1, reviewByMovie.getStar())}"></i>
                                            </div>
                                            <div class="no-star" th:if="${reviewByMovie.status == 0}">
                                                <p style="color: #555555">Vote star are under consideration...</p>
                                            </div>
                                            <p class="time"  th:text="${#dates.format(reviewByMovie.createAt, 'dd MMMM yyyy')} + ' by '"><span th:text="${reviewByMovie.account.userName}"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <p th:if="${reviewByMovie.status == 1}" th:text="${reviewByMovie.comment}"></p>
                                    <p th:if="${reviewByMovie.status == 0}" style="color: #555555">Comments are under consideration...</p>
                                </div>
                                <div class="topbar-filter">
                                    <label>Reviews per page:</label>
                                    <select>
                                        <option value="range">5 Reviews</option>
                                        <option value="saab">10 Reviews</option>
                                    </select>
                                    <div class="pagination2">
                                        <span>Page 1 of 6:</span>
                                        <a class="active" href="#">1</a>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">5</a>
                                        <a href="#">6</a>
                                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="cast" class="tab">
                            <div class="row">
                                <h3>Cast & Crew of</h3>
                                <h2 th:text="${getMovieId.name}"></h2>
                                <!-- //== -->
                                <div class="title-hd-sm">
                                    <h4>Directors</h4>
                                </div>
                                <div class="mvcast-item">
                                    <div class="cast-it">
                                        <div class="cast-left" th:each="directorMovie:${getDirectorMovie}">
                                            <img th:src="${directorMovie.getCelebrity().getPoster()}" alt="" style="width: 40px; height: 40px; object-fit: cover;overflow: hidden">
                                            <a href="#" th:text="${directorMovie.getCelebrity().name}"></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- //== -->
                                <div class="title-hd-sm">
                                    <h4>Writers</h4>
                                </div>
                                <div class="mvcast-item">
                                    <div class="cast-it" th:each="writerMovie:${getWriterMovie}">
                                        <div class="cast-left">
                                            <img th:src="${writerMovie.getCelebrity().getPoster()}" alt="" style="width: 40px; height: 40px; object-fit: cover;overflow: hidden">
                                            <a href="#" th:text="${writerMovie.getCelebrity().name}"></a>
                                        </div>
<!--                                        <p>...  (based on Marvel comics)</p>-->
                                    </div>
                                </div>
                                <!-- //== -->
                                <div class="title-hd-sm">
                                    <h4>Cast</h4>
                                </div>
                                <div class="mvcast-item">
                                    <div class="cast-it" th:each="actorMovie:${getActorMovie}">
                                        <div class="cast-left">
                                            <img th:src="${actorMovie.getCelebrity().getPoster()}" alt="" style="width: 40px; height: 40px; object-fit: cover;overflow: hidden">
                                            <a href="#" th:text="${actorMovie.getCelebrity().name}"></a>
                                        </div>
                                        <p th:text="${actorMovie.charactor}"></p>
                                    </div>
                                </div>
                                <!-- //== -->
<!--                                <div class="title-hd-sm">-->
<!--                                    <h4>Produced by</h4>-->
<!--                                </div>-->
<!--                                <div class="mvcast-item">-->
<!--                                    <div class="cast-it">-->
<!--                                        <div class="cast-left">-->
<!--                                            <h4>VA</h4>-->
<!--                                            <a href="#">Victoria Alonso</a>-->
<!--                                        </div>-->
<!--                                        <p>...  executive producer</p>-->
<!--                                    </div>-->
<!--                                    <div class="cast-it">-->
<!--                                        <div class="cast-left">-->
<!--                                            <h4>MB</h4>-->
<!--                                            <a href="#">Mitchel Bell</a>-->
<!--                                        </div>-->
<!--                                        <p>...  co-producer (as Mitch Bell)</p>-->
<!--                                    </div>-->
<!--                                    <div class="cast-it">-->
<!--                                        <div class="cast-left">-->
<!--                                            <h4>JC</h4>-->
<!--                                            <a href="#">Jamie Christopher</a>-->
<!--                                        </div>-->
<!--                                        <p>...  associate producer</p>-->
<!--                                    </div>-->
<!--                                    <div class="cast-it">-->
<!--                                        <div class="cast-left">-->
<!--                                            <h4>LD</h4>-->
<!--                                            <a href="#">Louis D’Esposito</a>-->
<!--                                        </div>-->
<!--                                        <p>...  executive producer</p>-->
<!--                                    </div>-->
<!--                                    <div class="cast-it">-->
<!--                                        <div class="cast-left">-->
<!--                                            <h4>JF</h4>-->
<!--                                            <a href="#">Jon Favreau</a>-->
<!--                                        </div>-->
<!--                                        <p>...  executive producer</p>-->
<!--                                    </div>-->
<!--                                    <div class="cast-it">-->
<!--                                        <div class="cast-left">-->
<!--                                            <h4>KF</h4>-->
<!--                                            <a href="#">Kevin Feige</a>-->
<!--                                        </div>-->
<!--                                        <p>...  producer</p>-->
<!--                                    </div>-->
<!--                                    <div class="cast-it">-->
<!--                                        <div class="cast-left">-->
<!--                                            <h4>AF</h4>-->
<!--                                            <a href="#">Alan Fine</a>-->
<!--                                        </div>-->
<!--                                        <p>...  executive producer</p>-->
<!--                                    </div>-->
<!--                                    <div class="cast-it">-->
<!--                                        <div class="cast-left">-->
<!--                                            <h4>JF</h4>-->
<!--                                            <a href="#">Jeffrey Ford</a>-->
<!--                                        </div>-->
<!--                                        <p>...  associate producer</p>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div id="media" class="tab">
                            <div class="row">
                                <div class="rv-hd">
                                    <div>
                                        <h3>Photos of</h3>
                                        <h2 th:text="${getMovieId.name}"></h2>
                                    </div>
                                </div>
                                <div class="title-hd-sm">
                                    <h4>Photos <span th:text="${getGenresMovie.size()}"></span></h4>
                                </div>
                                <div class="mvsingle-item">
                                    <a th:each="image:${getImagesMovie}" class="img-lightbox"  data-fancybox-group="gallery" th:href="${image}"><img style="width: 100px; height: 100px" th:src="${image}" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div id="moviesrelated" class="tab">
                            <div class="row">
                                <h3>Related Movies To</h3>
                                <h2 th:text="${getMovieId.name}"></h2>
                                <div class="topbar-filter">
                                    <p>Found <span th:text="${relatedMovies.size()}+ ' movie'"></span> in total</p>
                                    <label>Sort by:</label>
                                    <select>
                                        <option value="popularity">Popularity Descending</option>
                                        <option value="popularity">Popularity Ascending</option>
                                        <option value="rating">Rating Descending</option>
                                        <option value="rating">Rating Ascending</option>
                                        <option value="date">Release date Descending</option>
                                        <option value="date">Release date Ascending</option>
                                    </select>
                                </div>
                                <div class="movie-item-style-2" th:each="relatedMovie:${relatedMovies}">
                                    <img th:src="${relatedMovie.poster}" alt="">
                                    <div class="mv-item-infor">
                                        <h6><a href="#"><span th:text="${relatedMovie.name}"></span></a></h6>
                                        <p class="rate"><i class="ion-android-star"></i><span th:text="${averageRating}"></span> /10</p>
                                        <p class="describe" th:text="${relatedMovie.description}"></p>
                                        <p class="run-time"> Run Time: <span th:text="${relatedMovie.totalDuration} + 'min'"></span>’    .     <span th:text="${relatedMovie.mmpaRating} + 'mmPA'"></span>    .     <span th:text="${#dates.format(relatedMovie.release, 'dd MMMM yyyy')}"></span></p>
                                        <p>Director: <a href="#" th:each="director:${getDirectorMovie}" th:text="${director.getCelebrity().name}"></a></p>
                                        <p>Stars:
                                            <a href="#" th:each="casting:${getActorMovie}" th:text="${casting.celebrity.name} + ', '"></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="topbar-filter">
                                    <label>Movies per page:</label>
                                    <select>
                                        <option value="range">5 Movies</option>
                                        <option value="saab">10 Movies</option>
                                    </select>
                                    <div class="pagination2">
                                        <span>Page 1 of 2:</span>
                                        <a class="active" href="#">1</a>
                                        <a href="#">2</a>
                                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</main>
<th:block id="js-resources">
    <script>
       $(document).ready(function (){
           $("#formComment").submit(function (event){
               event.preventDefault();
               let accountId = $('.idAccount').text();
               let movieId = $(this).data('movie-id');
               let title = $('#title').val();
               let comment = $('#comment').val();
               let rating = $('input[name="rating"]:checked').val();
// Kiểm tra xem các trường đã được nhập đủ hay chưa
               if (!rating) {
                   $('#invalid-feedback-voteStar').show();
                   return;
               } else {
                   $('#invalid-feedback-voteStar').hide();
               }

               if (title.trim() === '') {
                   $('#invalid-feedback-title').show();
                   return
               } else {
                   $('#invalid-feedback-title').hide();
               }
               if (comment.trim() === '') {
                   $('#invalid-feedback-comment').show();
                   return;
               } else {
                   $('#invalid-feedback-comment').hide();
               }

               var formData = {
                   accountId: accountId,
                   title: title,
                   comment: comment,
                   movies: movieId,
                   star: rating
               };
               $.ajax({
                   url: "/v1/reviews/add",
                   type: 'POST',
                   contentType: "application/json; charset=utf-8",
                   data: JSON.stringify(formData),
                   success: function (result) {
                       Swal.fire({
                           title: 'Success!',
                           text: 'Comment posted successfully.',
                           icon: 'success',
                           confirmButtonText: 'OK'
                       }).then((result) => {
                           if (result.isConfirmed) {
                               // Reset form after successful post
                               $('#formComment')[0].reset();
                               setTimeout(function () {
                                   window.location.href = "/movie/get/"+movieId;
                               });
                           }
                       });
                   },
                   error: function (xhr, status, error) {
                       let errorMessage = "An error occurred.";
                       if (xhr.responseJSON && xhr.responseJSON.message) {
                           errorMessage = xhr.responseJSON.message;
                       } else if (xhr.responseText) {
                           errorMessage = xhr.responseText;
                       }
                       Swal.fire({
                           title: 'Error!',
                           text: errorMessage,
                           icon: 'error',
                           confirmButtonText: 'OK'
                       });
                   }
               });
           })
           // AJAX review
           $('.heart-error').click(function (e){
               e.preventDefault();
               alert("You need to log in to add movies to favorites")
           })
           $('.favorite-icon').click(function (e){
               e.preventDefault();
               debugger;
               let movieId = $(this).data('movie-id');
               let accountId = $('.idAccount').text();
               var formData = {
                   movies: movieId,
                   account: accountId,
               };
               $.ajax({
                   url: "/v1/favouritesMovies/add",
                   type: 'POST',
                   contentType: "application/json; charset=utf-8",
                   data: JSON.stringify(formData),
                   success: function (result) {
                       var $this = $('.favorite-icon[data-movie-id="' + movieId + '"]');
                       $this.toggleClass('btn-warning btn-danger');
                       $this.find('i').toggleClass('ion-android-favorite ion-android-favorite-outline');
                       // Hiển thị hiệu ứng tim
                       $this.append('<span class="heart-effectMovieDetail"><i class="fa fa-heart"></i></span>');
                       setTimeout(function() {
                           $this.find('.heart-effectMovieDetail').remove();
                       }, 1000);
                   },
                   error: function (error) {
                       console.log(error);
                       var errorHtml = '<div class="float-end alert alert-danger alert-dismissible fade show" role="alert">\n' +
                           '                                            An error occurred !\n' +
                           '                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>\n' +
                           '                                        </div>';
                       $("#alertError").html(errorHtml);
                       setTimeout(function () {
                           $("#alertError").empty();
                       }, 2000);
                   }
               })
           })
       })
    </script>
</th:block>

</body>
</html>
