<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/public/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #main-content},
                                                ~{:: #js-resources}
                                               )}">
<head>
    <!-- Basic need -->
    <title>Block Buster | Actor Detail</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <th:block id="css-resources"></th:block>
</head>
<body>

<main id="main-content">
    <div class="hero hero3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1> movie listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

    <div class="page-single movie-single cebleb-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="mv-ceb">
                        <img th:src="${getCelebrity.poster}" alt="">
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-single-ct">
                        <h1 class="bd-hd" th:text="${getCelebrity.name}">Hugh Jackman</h1>
<!--                        <p class="ceb-single">Actor  |  Producer</p>-->
                        <span th:each="job, iterStat : ${getCelebrity.jobs}" style="font-size: 16px; color: #848da3;">
                                        <span th:text="${job.name}"></span>
                                        <span th:if="${!iterStat.last}">| </span>
                        </span>
                        <div class="social-link cebsingle-socail" style="margin-top: 10px">
                            <a href="#"><i class="ion-social-facebook"></i></a>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                            <a href="#"><i class="ion-social-googleplus"></i></a>
                            <a href="#"><i class="ion-social-linkedin"></i></a>
                        </div>
                        <div class="movie-tabs">
                            <div class="tabs">
                                <ul class="tab-links tabs-mv">
                                    <li class="active"><a href="#overviewceb">Overview</a></li>
                                    <li><a href="#biography"> biography</a></li>
                                    <li><a href="#mediaceb"> Media</a></li>
                                    <li><a href="#filmography">filmography</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="overviewceb" class="tab active">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <p th:text="${getCelebrity.bio}">Jackman was born in Sydney, New South Wales, to Grace McNeil (Greenwood) and Christopher John Jackman, an
                                                    accountant. He is the youngest of five children. His parents both English, moved to Australia shortly before his birth.
                                                    He also has Greek (from a great-grandfather) and Scottish (from a grandmother) ancestry.</p>
                                                <p class="time"><a href="#">See full bio <i class="ion-ios-arrow-right"></i></a></p>
                                                <div class="title-hd-sm">
                                                    <h4>Photos</h4>
                                                    <a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
                                                </div>
                                                <div class="mvsingle-item ov-item">
                                                    <div th:each="image, iterStat : ${getCelebrity.images}" th:if="${iterStat.index < 4}" >
                                                        <a class="img-lightbox" data-fancybox-group="gallery" th:href="@{/public/images/uploads/{image}(image=${image})}">
                                                            <img th:src="${image}" alt="Image" style="width: 100px; height: 100px">
                                                        </a>
                                                    </div>

<!--                                                    <div class="vd-it">-->
<!--                                                        <img class="vd-img" src="/public/images/uploads/image4.jpg" alt="">-->
<!--                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/public/images/uploads/play-vd.png" alt=""></a>-->
<!--                                                    </div>-->
                                                </div>
                                                <div class="title-hd-sm">
                                                    <h4>filmography</h4>
                                                    <a href="#" class="time">Full Filmography<i class="ion-ios-arrow-right"></i></a>
                                                </div>
                                                <!-- movie cast -->
                                                <div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left cebleb-film">
                                                            <img src="/public/images/uploads/film4.jpg" alt="">
                                                            <div>
                                                                <a href="#">Night at the Museum 3 </a>
                                                                <p class="time">Blackbeard</p>
                                                            </div>
                                                        </div>
                                                        <p>...  2014</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left cebleb-film">
                                                            <img src="/public/images/uploads/film5.jpg" alt="">
                                                            <div>
                                                                <a href="#">X-Men: Days of Future Past </a>
                                                                <p class="time">Wolverine</p>
                                                            </div>
                                                        </div>
                                                        <p>...  2012</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left cebleb-film">
                                                            <img src="/public/images/uploads/film6.jpg" alt="">
                                                            <div>
                                                                <a href="#">The Wolverine </a>
                                                                <p class="time">Logan</p>
                                                            </div>
                                                        </div>
                                                        <p>...  2011</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left cebleb-film">
                                                            <img src="/public/images/uploads/film7.jpg" alt="">
                                                            <div>
                                                                <a href="#">Rise of the Guardians </a>
                                                                <p class="time">Bunny</p>
                                                            </div>
                                                        </div>
                                                        <p>...  2011</p>
                                                    </div>
                                                    <div class="cast-it">
                                                        <div class="cast-left cebleb-film">
                                                            <img src="/public/images/uploads/film8.jpg" alt="">
                                                            <div>
                                                                <a href="#">The Prestige </a>
                                                                <p class="time">Robert Angier</p>
                                                            </div>
                                                        </div>
                                                        <p>...  2010</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12 col-sm-12">
                                                <div class="sb-it">
                                                    <h6>Fullname:  </h6>
                                                    <p th:text="${getCelebrity.name}">Hugh Jackman</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Date of Birth: </h6>
                                                    <p th:text="${getCelebrity.birthday}">June 24, 1982</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Country:  </h6>
                                                    <p th:text="${getCelebrity.country}">Australian</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Jobs:</h6>
                                                    <p class="tags" th:each="job, iterStat : ${getCelebrity.jobs}">
                                                        <span class="time"><a th:text="${job.name}" th:href="@{/jobs/{slug}(slug=${job.slug})}">jackman</a></span>
                                                    </p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Status:</h6>
                                                    <p th:if="${getCelebrity.status == true}" th:text="'Is Active'"></p>
                                                    <p th:if="${getCelebrity.status == false}" th:text="'InActive'"></p>
                                                </div>
                                                <div class="ads">
                                                    <img th:src="@{/public/images/uploads/ads.gif}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="biography" class="tab">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Biography of</h3>
                                                    <h2 th:text="${getCelebrity.name}">Hugh Jackman</h2>
                                                </div>
                                            </div>
                                            <p th:text="${getCelebrity.bio}"></p>
                                        </div>
                                    </div>
                                    <div id="mediaceb" class="tab">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Biography of</h3>
                                                    <h2 th:text="${getCelebrity.name}">Hugh Jackman</h2>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm" th:with="totalImages=${getCelebrity.images.size()}">
                                                <h4>Photos <span th:text="${totalImages}"> (21)</span></h4>
                                            </div>
                                            <div class="mvsingle-item">
                                                <div th:each="image, iterStat : ${getCelebrity.images}" >
                                                    <a class="img-lightbox" data-fancybox-group="gallery" th:href="@{/public/images/uploads/{image}(image=${image})}">
                                                        <img th:src="${image}" alt="Image" style="width: 100px; height: 100px">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="title-hd-sm">
                                                <h4>Videos <span>(8)</span></h4>
                                            </div>
                                            <div class="mvsingle-item media-item">
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="/public/images/uploads/vd-item1.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow"  href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/public/images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="/public/images/uploads/vd-item2.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/public/images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
                                                        <p class="time"> 1: 03</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="/public/images/uploads/vd-item3.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/public/images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Robert Downey Jr</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="/public/images/uploads/vd-item4.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/public/images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Scarlett Johansson</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="/public/images/uploads/vd-item1.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/public/images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="/public/images/uploads/vd-item2.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/public/images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Director Joss Whedon</a></h6>
                                                        <p class="time"> 1: 03</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="/public/images/uploads/vd-item3.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/public/images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Mark Ruffalo</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="/public/images/uploads/vd-item4.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/public/images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Official Trailer #2</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="filmography" class="tab">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Biography of</h3>
                                                    <h2 th:text="${getCelebrity.name}">Hugh Jackman</h2>
                                                </div>

                                            </div>
                                            <div class="topbar-filter">
                                                <p>Found <span>14 movies</span> in total</p>
                                                <label>Filter by:</label>
                                                <select>
                                                    <option value="popularity">Popularity Descending</option>
                                                    <option value="popularity">Popularity Ascending</option>
                                                    <option value="rating">Rating Descending</option>
                                                    <option value="rating">Rating Ascending</option>
                                                    <option value="date">Release date Descending</option>
                                                    <option value="date">Release date Ascending</option>
                                                </select>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img src="/public/images/uploads/film1.jpg" alt="">
                                                        <div>
                                                            <a href="#">X-Men: Apocalypse </a>
                                                            <p class="time">Logan</p>
                                                        </div>

                                                    </div>
                                                    <p>...  2016</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img src="/public/images/uploads/film2.jpg" alt="">
                                                        <div>
                                                            <a href="#">Eddie the Eagle </a>
                                                            <p class="time">Bronson Peary</p>
                                                        </div>
                                                    </div>
                                                    <p>...  2015</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img src="/public/images/uploads/film3.jpg" alt="">
                                                        <div>
                                                            <a href="#">Me and Earl and the Dying Girl </a>
                                                            <p class="time">Hugh Jackman</p>
                                                        </div>
                                                    </div>
                                                    <p>...  2015</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img src="/public/images/uploads/film4.jpg" alt="">
                                                        <div>
                                                            <a href="#">Night at the Museum 3 </a>
                                                            <p class="time">Blackbeard</p>
                                                        </div>
                                                    </div>
                                                    <p>...  2014</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img src="/public/images/uploads/film5.jpg" alt="">
                                                        <div>
                                                            <a href="#">X-Men: Days of Future Past </a>
                                                            <p class="time">Wolverine</p>
                                                        </div>
                                                    </div>
                                                    <p>...  2012</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img src="/public/images/uploads/film6.jpg" alt="">
                                                        <div>
                                                            <a href="#">The Wolverine </a>
                                                            <p class="time">Logan</p>
                                                        </div>
                                                    </div>
                                                    <p>...  2011</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img src="/public/images/uploads/film7.jpg" alt="">
                                                        <div>
                                                            <a href="#">Rise of the Guardians </a>
                                                            <p class="time">Bunny</p>
                                                        </div>
                                                    </div>
                                                    <p>...  2011</p>
                                                </div>
                                                <div class="cast-it">
                                                    <div class="cast-left cebleb-film">
                                                        <img src="/public/images/uploads/film8.jpg" alt="">
                                                        <div>
                                                            <a href="#">The Prestige </a>
                                                            <p class="time">Robert Angier</p>
                                                        </div>
                                                    </div>
                                                    <p>...  2010</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
</th:block>
</body>
</html>